#phaser {
	position:relative;
	height:100%;
	#phasercontrol {
		width:100%;
		height:100%;
		background:white;
		.loadstatus {
			width:100%;
			height:149px;
			text-align:center;
			.loading {
				height:100%;
				background:url('../images/vincentkammerercom/loading.gif') no-repeat center center;
			}
			.loaded {
				height:100%;
				background:url('../images/vincentkammerercom/heart.svg') no-repeat center center;
			}
		}
	}
	iframe {
		position:absolute;
		top:0;
		z-index:-10;
		border:0;
		width:100%;
		height:100%;
	}
	&.gameon {
		iframe {
			z-index:0;
		}
	}
}

