<div class="row">
	<div class="col-xs-12">
		<div class="vkcontent">
			<h3>Bonjour,</h3>
			<p>My name is Vincent Kammerer, I am a French and Canadian web developper.</p>
			<p>I am just starting to rebuild this website, and I hope to fill it in the next couple of months with various front-end <a href="#/experiments">experiments</a> with &lt;canvas&gt; and 2D gaming frameworks, and with webgl demos.</p>
			<p>You can also find me on the following networks:</p>
			<social></social>
		</div>
	</div>
</div>
