@import 'sass-bootstrap/lib/_variables';
@import "../color";

header {
	display:block;
	text-align:center;
	background:white;
	border-bottom: 1px solid rgb(219, 219, 219);
	.row {
		padding:1em 0;
	}
	@media (min-width: $screen-sm-min) {
			text-align:left;
	}
	span, a {
		color:black;
		font-size:1.2em;
		display:inline-block;
		line-height:100%;
		@media (min-width: $screen-sm-min) {
			line-height:210%;
		}
	}
	a {
		padding:0 0 0.5em;
		@media (min-width: $screen-sm-min) {
			padding:0;
		}
	}
	#love {
		img {
			width:19px;
			margin:-1px -2px 0;
			animation-duration: 8s;
			animation-name: showsomelove;
			animation-timing-function: ease;
			animation-iteration-count: infinite;
		}
		@media (min-width: $screen-sm-min) {
			text-align:right;
		}
	}

}

@keyframes showsomelove {
	0% {
		-webkit-transform: scale(0.88) translate3d(0,0,0);
	}
	20% {
		-webkit-transform: scale(0.88);
	}
	21% {
		-webkit-transform: scale(0.95) translate3d(0,-1px,0);
	}
	23% {
		-webkit-transform: scale(0.90) translate3d(0,0,0);
	}
	25% {
		-webkit-transform: scale(1) translate3d(0,-1px,0);
	}
	28% {
		-webkit-transform: scale(0.88) translate3d(0,0,0);
	}
	100% {
		-webkit-transform: scale(0.88);
	}
}
