@import 'sass-bootstrap/lib/_variables';
@import "color";

.vkviewContainer {
	-webkit-transition: -webkit-transform 400ms;
	position:relative;
	.vkview {
		position: absolute;
		-webkit-transform: translate3d(0,0,0);
		left: 0;
		top: 0;
		width: 100%;
		div[class^="col-"] {
			.vkcontent {
				position:relative;
				background:white;
				min-height:200px;
				padding: 15px;
				border: 1px solid rgb(219, 219, 219);
			}
			h1, h2, h3, h4, h5, h6 {
				margin-top:0
			}
		}
		&.ng-enter,
		&.ng-leave {
				-webkit-transition: -webkit-transform 400ms ease;
				-moz-transition: -webkit-transform 400ms ease;
				-o-transition: -webkit-transform 400ms ease;
				transition: -webkit-transform 400ms ease;
		}
		&.ng-enter {
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				-ms-transform: scale(0);
				-o-transform: scale(0);
				transform: scale(0);
		}
		&.ng-enter-active,
		&.ng-leave,
		&.ng-leave-active {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
		}
		&.ng-leave {
			display:none;
		}


/*
		&.ng-enter {
			-webkit-transform: translate3d(-100%,0,0);
		}
		&.ng-enter-active {
			-webkit-transform: translate3d(0,0,0);
		}
		&.ng-leave {
			-webkit-transform: translate3d(0,0,0);
		}
		&.ng-leave-active {
			-webkit-transform: translate3d(100%,0,0);
		}
*/
	}
}
